
@media(max-width: 1832px) {
    nav > div > ul{
        gap: 2rem;
    }
.head-search-nav input{
    width: 450px;
}
.main-container {
    width: 70%;
}
.main-post > div > img {
    width: 400px;
}
.main-post-data {
    gap: 4.2rem;
}
}
@media (max-width: 1700px) {
    .main-post > div > img {
        width: 350px;
    }

}
@media (max-width: 1620px) {
    .main-post > div > img {
        width: 350px;
    }
    .main-container {
        width: 75%;
    }
}
@media (max-width: 1539px) {
    .main-post > div > img {
        width: 350px;
    }
    .main-container {
        width: 80%;
    }
    .main-post-data {
        gap: 1rem;
    }

}
@media (max-width: 1481px) {
    .main-post > div > img {
        width: 300px;
    }
    .main-container {
        width: 85%;
    }

}
@media (max-width: 1342px) {
    .main-post > div > img {
        width: 300px;
    }
    .main-container {
        width: 90%;
    }
    .main-post-data {
        gap: 4.2rem;
    }
}
@media (max-width: 1298px) {
    .main-post > div > img {
        width: 300px;
    }
    .main-container {
        width: 100%;
    }
    .head-search-nav input{
        width: 300px;
    }
    .main-post-data {
        gap: 4.2rem;
    }
 }

@media (max-width: 1245px) {
    aside {
        display: none;
    }
    main {
        width: 100%;
    }
    .main-post > div > img {
        width: 500px;
    }
 }
 @media (max-width: 1048px) {
    .main-post > div > img {
        width: 400px;
    }
 }

 @media (max-width: 951px) {

    .main-post > div > img {
        width: 300px;
    }
    .main-post-data {
        gap: 2.5rem;
    }
  }

  @media (max-width: 852px) {
    html {
        font-size: 14px;
    }

    .main-post-data {
        gap: 2rem;
    }
    .text-post-data p {
        width: 300px;
    }
  }
  @media (max-width: 785px) {
    html {
        font-size: 12px;
    }
    .main-post > div > img {
        width: 250px;
    }
    .main-post-data {
        gap: 1rem;
    }
    .text-post-data p {
        width: 300px;
    }
  }
  @media (max-width: 683px) {
    html {
        font-size: 8px;
    }
    .img-post-div {
        width: 40%;
    }
    .main-post > div > img {
        width: 200px;
    }
    .main-post-data {
        gap: 1rem;
    }
    .text-post-data p {
        width: 100px;
    }
    .add-post-status img {
        width: 65px;
        height: 65px;
    }
    .add-post-status button {
        width: 65px;
        height: 65px;
    }
    .add-post-status .last-img ~ img {
        display: none;
    }
  }
