* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6) 0%, rgba(5, 5, 5, 0.6) 100%), url("./imgs/05.png");
  }

  .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
  form .button {
    height: 45px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  form .button input {
    height: 100%;
    width: 100%;
    margin: 0.5rem auto;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(3,133,195,1) 0%, rgba(0,255,196,1) 100%);
    box-shadow: 0px 31px 73px -28px rgba(3,133,195,1);


  }
  form .button:hover {
    width: 70%;

  }