:root{
    --content-background-dark: rgba(2, 3, 7, 0.8);
    --theme-color-dark: #30D9D9;
    --dark-color-dark: #272B38;
    --gray-color-dark: #cccccc;
    --dark-gray-color: #d1d8db;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    /* background: url(./imgs/05.png); */
    background: linear-gradient(to bottom, rgba(5, 5, 5, 0.6) 0%, rgba(5, 5, 5, 0.6) 100%), url(".././imgs/05.png");
    background-repeat: repeat;
    background-size: contain;
    color: white;
}
html {
    font-size: 16px;
}
a {
    color: var(--gray-color-dark);
    text-decoration: none;
    transition: 0.2s ease-in-out all;
}

a:hover {
    color: #6F7D8E;;
    text-decoration: none;

}
a > i {
    padding: 0.4rem;
    border-radius: 1rem;
}
.current {
    padding: 0.6rem;
    background:var(--theme-color-dark);
    margin-right: 0.4rem;
}
.current-color a {
    color: white;
}
button {
    color: var(--theme-color-dark);
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
}
button > i {
    font-size: 1.5rem;
}
/* -------------------------------------------- nav-start --------------------------- */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--content-background-dark);
    height: 5rem;
    width: 100%;
position: fixed;
top: 0; }

.head-search-nav {
    display: flex;
    gap:4rem;
    justify-content: space-around;
    align-items: center;
}
.head-search-nav img {
    margin-left: 0 2rem;

}
.head-search-nav input {
    width: 650px;
    height: 40px;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--dark-color-dark);
    color: white;
}
nav > div > ul {
    display: flex;
    list-style: none;
}
nav > div > ul {
    display: flex;
    align-items: center;
    gap: 4rem;
}
nav a {
    font-size: 1rem;
}
i {
    color: pruple;
}
nav a > p{
    display: inline;
}
nav > div img {
    width: 50px;
    border-radius: 2rem;
}
.profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.profile-nav img {
    width: 50px;
    height: 50px;
}
.profile-nav p {
    font-size: 1.1rem;
    margin-right: 1rem;
}
.profile-nav div {
    height: 2.5rem;
    width: 2px;
    margin: 0 0.5rem;
    background-color: var(--gray-color-dark);
}
.profile-nav a {
    color: white;
}
.noti-nav{
    padding: 0.5rem;
    background-color: var(--dark-color-dark);
    color:var(--theme-color-dark);
    border-radius: 1rem;
}
.dark-nav {
    padding: 0.5rem 0.6rem;
    font-size: 1.3rem;
    width: 4.5rem;
    color:var(--gray-color-dark);
    border-radius: 2rem;
    border: dashed 2px var(--gray-color-dark);
}
/* -------------------------------------------- nav-end --------------------------- */
.container {
    width: 95%;
    margin: 0 auto;
}
#profile_id_headline {
    margin-left: 0.5rem;
}
.profile-header > div{
    display: flex;
    background-color: var(--content-background-dark);
    border-radius: 1.5rem;
    color: var(--dark-gray-color);
    align-items: center;
}
.profile-header > div > img {
    width: 220px;
    height: 220px;
    margin: 2.5rem 3rem;
    border-radius: 15rem;
}
.profile-header > div > div > h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
.profile-header > div > div > h2 {
    font-size: 2.5rem;
    font-weight: 400;
}
header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.summary-header {
    display: flex;
    flex-direction: column;
    background-color: var(--content-background-dark);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.summary-header div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.summary-header p {
    color: var(--dark-gray-color);
    margin: 1rem;
}
.skills-exprience-header {
    display: flex;
    justify-content: space-between;
}
.skills-exprience-header > div {
    background-color: var(--content-background-dark);
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.skills-exprience-header div > div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.skills-exprience-header div:nth-child(1) {
    width:79.5%;
}
.skills-exprience-header div:nth-child(2) {
    width:19.5%;
}
.skills-exprience-header > div > ul {
    padding-left: 2rem;
    color: var(--dark-gray-color);

}
.skills-exprience-header > div > p {
    color: var(--dark-gray-color);
}